/*
 ** General
*/

#full-width-page-wrapper {
    padding: 0;
}

a {
    opacity: 1;
    transition: all 0.3s ease-in;
    text-decoration: none;
    &:hover {
        opacity: 0.63;
        transition: all 0.3s ease-in-out;
    }
    
    &.btn {
        background: $transparent;
        font-size: 14px;
        font-weight: 400;
        color: $primary;
        padding: 10px 30px;
        border: 1px solid $accent;
        border-radius: 32px;

        &:hover {
            background: $dark-gold;
            color: $white;
        }
    }
}

.blur {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

.left {
    position: absolute;
    left: 0;
    padding: 2rem 1rem;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    border-bottom: 1px solid $primary;
    text-align: center;

    &.gold {
        border-bottom: 1px solid $gold;
    }
}

.gold {
    color: $accent;
}

.dark-gold {
    color: $dark-gold;
}

.zoom {
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.12);
        filter: brightness(0.9);
    }
}

@mixin container-padding {
    @each $name, $values in $breakpoints {
        $breakpoint: map-get($values, point);
        $container-width: map-get($values, container);
        
        @media (min-width: #{$breakpoint}) {
            @if $breakpoint == 1920px {
                padding-left: calc((1920px - #{$container-width}) / 2);
            } @else {
                padding-left: calc((100vw - #{$container-width}) / 2);
            }
        }
    }
}

/*
 ** Navbar
*/

#pre-header {
    background: $dark-gold;
    color: $white;
    padding: 5px 0;
    text-align: center;

    a {
        color: $white;
    }

    span {
        font-weight: bold;
        color: $white;
        margin: 0 20px;
    }

    p {
        margin: 0;
    }
}

#main-nav {
    background-color: $transparent !important;
    padding: 1rem 2rem;
    margin-top: 35px;

    #main-menu {
        li {
            margin: 0 1.25rem;

            a {
                padding: 0;
            }

            &.active {
                a {
                    border-bottom: 1px solid $accent;
                }
            }
        }
    }
}

/*
 ** Sliders
*/ 

.n2-ss-layer {

    .cover {
        display: block;
        width: 100%;
        height: 100vh;
        background: black;
        opacity: 0.61;
        z-index: 2;
    }

    h1 {
        font-size: 64px;
        font-weight: 400;
        color: $white;
        line-height: 0.85;
        margin-bottom: 2rem;
    }

    p {
        max-width: 40%;
        font-size: 18px;
        font-weight: 400;
        color: $white;
        line-height: 1.25;
    }

    // Home

    .home-slider {

        h2 {
            font-size: 24px;
            font-weight: 400;
            color: $accent;
            line-height: 0.85;
        }

        p {
            color: $accent;
        }
        
    }
    
    .nums {
        font-family: "Barlow", sans-serif;

        span {
            font-size: 72px;
            font-weight: bold;
            color: $accent;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            color: $white;
            margin: 2rem 0;
        }

        a {
            font-size: 14px;
            font-weight: 300;
            color: $white;
            border: 1px solid $white;
            border-radius: 32px;
            padding: 10px 30px;
        }
    }
}

/*
 ** Plan Home
*/

#plan {
    height: 700px;

    .left {
        width: 700px;
    }
}

#plan,
#vision {
    position: relative;
    background: $light;
    padding: 5rem 0;

    .left {
        top: 0;
    }

    h3 {
        font-size: 48px;
        font-weight: 400;
        color: $primary;
        margin-bottom: 3rem;
    }

    p {
        font-size: 17px;
        font-weight: 400;
        color: $primary;
    }
}

/*
 ** Real State
*/

#vision {
    height: 400px;

    .left {
        width: 400px;
    }
}

#valores {
    position: relative;
    background: $primary;
    padding: 5rem 0;
    color: $white;

    h2 {
        font-size: 48px;
        font-weight: 400;
    }

    h3 {
        font-size: 20x;
        font-weight: 400;
    }

    h4 {
        font-size: 24px;
        font-weight: 400;
    }

    p {
        font-size: 14px;
        font-weight: 300;
    }

    ul {
        position: relative;

        li {
            margin-left: 1.25rem;
        }

        .blur {
            display: flex;
            position: absolute;
            left: -7.4rem;
            width: 120px;
            height: 80px;
            padding: 10px 30px;
            border: 1px solid $gold;
            border-radius: 16px;
            text-align: center;
            align-items: center;

            img {
                margin: 0 auto;
            }
        }
    }
}

/*
 ** Servicios Home
*/

#servicios-home {
    .shadow {
        position: relative;
        
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%; // Usamos 100% para que cubra toda la altura
            background: linear-gradient(to bottom, 
                rgba(0, 0, 0, 0) 0%,    // Completamente transparente arriba
                rgba(0, 0, 0, 1) 100%   // Negro sólido abajo
            );
            pointer-events: none;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .col-md-3 {
            position: relative;
            overflow: hidden;

            .icono {
                width: 100%;
                height: 120px;
                padding: 10px 15px;
                position: absolute;
                bottom: 20%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                z-index: 2;

                .blur {
                    margin: 0 auto;
                    border: 1px solid $transparent-white;
                    border-radius: 16px;
                    padding: 10px 25px;

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }

                h5 {
                    font-size: 32px;
                    font-weight: 400;
                    color: $white;
                    margin-top: 2rem;
                    text-align: center;
                }
            }
        }
    }
    .black-section {
        background: $black;
        padding: 3rem 0;

        h4 {
            font-size: 32px;
            font-weight: 400;
            color: $white;
        }

        p {
            font-size: 17px;
            font-weight: 400;
            color: $white;
        }

        a.btn {
            font-weight: 300;
            color: $white;
            
            &:hover {
                background: $accent;
                color: $primary;
            }
        }
    }
}

/*
 ** Opiniones
*/

#opiniones {
    height: $carousel-height;
    position: relative;

    .left {
        width: $carousel-height;
    }

    .right {
        position: absolute;
        right: 20px;
        bottom: 10px;
        span {
            font-size: 14px;
            font-weight: 300;
            color: $primary;
        }
    }

    #opinionCarousel {
        position: relative;
        height: $carousel-height;
        margin: 0 auto;
        padding: 2rem 0;

        h4 {
            font-size: 21px;
            font-weight: bold;
            color: $primary;
        }

        p {
            max-width: 65%;
            font-size: 18px;
            font-weight: 400;
            color: $primary;
            margin: auto;
        }

        .stars {
            .fa {
                color: $accent;
                margin: 0 5px;
            }
        }

        .carousel-inner {
            min-height: $carousel-height - 100px; // Ajusta esta altura según necesites
        }
    
        .carousel-item {
            height: 100%;

            .carousel-item-inner {
                min-height: $carousel-height - 100px; // La misma altura que carousel-inner
                margin: 0 auto;
            }
            &.active,
            &-next,
            &-prev {
                display: flex;
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;  // Ancho fijo del botón
            height: 40px; // Alto fijo del botón
            font-size: 24px;
            color: $primary;
            border: 1px solid $primary;
            border-radius: 50%;
            opacity: 1;
            
            // Centrar el icono dentro del botón
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: $primary;
                color: white;
            }
        }

        // Ajustar posición específica para cada botón
        .carousel-control-prev {
            left: 0;
        }

        .carousel-control-next {
            right: 0;
        }
    }
}

/*
 ** Viviendas
*/ 

#viviendas {
    background: $primary;

    h3 {
        font-size: 24px;
        font-weight: 400;
        color: $white;
    }

    h4 {
        font-size: 18px;
        font-weight: 300;
        color: $accent;
    }

    p {
        font-size: 14px;
        font-weight: 300;
        color: $white;
    }

    span {
        font-size: 48px;
        font-weight: 300;
        color: $accent;
    }

    .vivienda-card {
        .img-container {
            position: relative;
            .location {
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 1;
                padding: 0px 15px;
                border: 1px solid $transparent-white;
                border-radius: 32px;
                i {
                    font-size: 16px;
                    color: $accent;
                    margin-right: 10px;
                }
                span {
                    font-size: 18px;
                    font-weight: 400;
                    color: $white;
                }
            }
            img {
                border-radius: 16px;
            }
            .price {
                position: absolute;
                bottom: -15px;
                left: 50%;
                transform: translateX(-50%); // Centra horizontal
                z-index: 1;
                padding: 0px 20px;
                border: 1px solid $transparent-white;
                border-radius: 32px;
                span {
                    font-size: 19px;
                    font-weight: bold;
                    color: $white;
                }
            }
        }
        .data {
            margin: -1.25rem 0.75rem 0 0.75rem;
            padding: 3rem 1rem 1.5rem 1rem;
            border: 1px solid $accent;
            border-top: 0px;
            border-radius: 16px;
            background: $grey;
            h4 {
                font-size: 24px;
                font-weight: 400;
                color: $white;
                text-align: center;
            }
            ul {
                display: grid;
                grid-auto-flow: column;
                grid-gap: 20px;
                align-items: start;
                justify-content: center;
                
                li {
                    display: grid;
                    grid-template-rows: auto auto; // Una fila para el icono, otra para el texto
                    justify-items: center;
                    gap: 8px;
                    
                    .img-wrapper {
                        padding: 2px 12px;
                        background: $grey;
                        border: 1px solid $transparent-white;
                        border-radius: 12px;
                        img {
                            width: 24px; // Asegura que todos los iconos tengan el mismo tamaño
                            height: 24px;
                            object-fit: contain;
                        }
                    }
                    
                    span {
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 300;
                        color: $white;
                    }
                }
            }
            .separator {
                border: 0;
                height: 2px;
                background: $accent;
                margin: 15px 0;
            }
            p {
                text-align: center;
                font-size: 14px;
                font-weight: 300;
                color: $transparent-white;
            }
        }
    }
    .btn-dark {
        background: $grey;
        padding: 15px 30px;
        font-size: 14px;
        font-weight: bold;
        color: $white;
        border: 1px solid $accent;
        border-radius: 32px;
    }
}

/*
 ** Oficinas
*/

#oficinas {
    background: $light;
    color: $primary;
    padding: 5rem 0;

    h2 {
        font-size: 48px;
        font-weight: 400;
    }

    h3 {
        font-size: 20x;
        font-weight: 400;
    }

    h4 {
        font-size: 24px;
        font-weight: 400;
    }

    p {
        font-size: 14px;
        font-weight: 400;
    }

    .oficina .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .oficina .col-md-4 {
        display: flex;
        justify-content: center;
    }

    .col-10 ul {
        flex-direction: column !important;
        margin: 0;
        padding-left: 1rem;
    }

    .col-10 ul li {
        margin-bottom: 1rem;
    }

    .col-2 ul {
        flex-direction: column !important;
        margin: 0;
    }

    .col-2 ul li {
        margin-bottom: 1rem;
    }

    .col-10 ul li,
    .col-2 ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .col-10 ul li h3,
    .col-10 ul li p {
        margin: 0;
    }

    .col-2 ul li .btn {
        white-space: nowrap;
    }

    .col-10,
    .col-2 {
        display: flex;
        align-items: center;
    }

    .btn {
        margin-top: 1rem;
    }
}

/*
 ** Formulario de contacto
*/

#contact-form {
    background: $light;
    overflow: hidden;

    h3 {
        font-size: 28px;
        font-weight: 400;
        color: $primary;
    }

    h4 {
        font-size: 21px;
        font-weight: 400;
        color: $accent;
    }

    h5 {
        font-size: 14px;
        font-weight: bold;
    }

    .col-lg-7 {
        .container {
            @include container-padding;
        }
    }

    .btn-form {
        padding: 10px 20px;
        margin-right: 10px;
        border: 1px solid $black;
        border-radius: 32px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 14px;
        
        &.active {
            background-color: $black;
            color: $white;
        }
        
        &:not(.active) {
            background-color: transparent;
            border: 1px solid $accent;
            color: $black;
            
            &:hover {
                background-color: rgba($accent, 0.1);
            }
        }
    }

    .form-section {
        display: none;
        
        &.active {
            display: block;
        }
    }

    .wpcf7 {
        max-width: none !important;
        color: $accent;
        .wpcf7-list-item {
            margin: 0;
        }

        .wpcf7-form-control-wrap[data-name="your-features"],
        .wpcf7-form-control-wrap[data-name="your-status"] {
            .wpcf7-checkbox {
                font-size: 14px;
                font-weight: 300;
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 0.5rem;
            }
        }

        .wpcf7-submit {
            width: auto;
            padding: 10px 20px;
            background: $dark-gold;
            color: $white;
            border-radius: 32px;
            border-color: $dark-gold;
            transition: all 0.3s ease-in;
            &:hover {
                background: $light;
                color: $dark-gold;
                transition: all 0.3s ease-in-out;
            }
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
            appearance: none;
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid $dark-gold;
            color: $accent;
            padding: 8px 12px;
            width: 100%;
            font-size: 14px;
            transition: all 0.3s ease-in;
            
            &:focus {
                outline: none;
                border-color: $dark-gold;
                box-shadow: none;
                background: $accent;
                color: $primary;
                transition: all 0.3s ease-in-out;
            }
            
            &::placeholder {
                color: $dark-gold;
                opacity: 0.63;
            }
        }
    
        select {
            cursor: pointer;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23your-color-here' d='M6 8L2 4h8z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 12px center;
            padding-right: 30px;
        }
    
        textarea {
            min-height: 100px;
            resize: vertical;
        }

        input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid $dark-gold;
            width: 15px;
            height: 15px;
            cursor: pointer;
            
            &:checked {
                background-color: transparent;
                border-color: $dark-gold;
                position: relative;
                
                &:after {
                    content: '✓';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: $accent;
                }
            }
        }
    }
}

/*
 ** Footer
*/

#wrapper-footer {
    background: $black;
    padding-top: 5rem;
    padding-bottom: 0;
    footer {
        .row {
            a {
                font-size: 16px;
                font-weight: 400;
                color: $white;
                opacity: 0.63;
                &:hover {
                    opacity: 1;
                }
            }
            h2 {
                font-size: 36px;
                font-weight: 500;
                color: $white;
            }
            h3 {
                font-size: 20px;
                font-weight: 600;
                color: $white;
            }
            h4 {
                font-size: 16px;
                font-weight: 300;
                color: $white;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                color: $text;
                a {
                    font-size: 13px;
                    font-weight: 300;
                    color: $white;
                }
            }
            &:first-child {
                border-bottom: 1px solid $white;
            }
            ul.list-group-horizontal {
                a {
                    opacity: 1;
                    &:hover {
                        opacity: 0.63;
                    }
                }
            }
            &#copyright {
                padding: 2rem 0 !important;
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: $text;
                    margin: 0;
                }
            }
        }
    }
}