// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$gold: #BCA76F;
$dark-gold: #847751;
$white: #FFF;
$black: #040404;
$grey: #171717;
$light: #E8E6E0;
$text: #A2A2A2;
$transparent: rgb(0,0,0,0);
$transparent-white: rgba(255, 255, 255, 0.63);

$primary: $black;
$secondary: $white;
$accent: $gold;

// Sobreescribir variables de fuente de Bootstrap
$font-family-base: "Crimson Pro", serif;
$headings-font-family: "Crimson Pro", serif;

$carousel-height: 400px;

$breakpoints: (
    xs: (
        point: 0,
        container: 100%
    ),
    sm: (
        point: 576px,
        container: 540px
    ),
    md: (
        point: 768px,
        container: 720px
    ),
    lg: (
        point: 992px,
        container: 960px
    ),
    xl: (
        point: 1200px,
        container: 1140px
    ),
    xxl: (
        point: 1400px,
        container: 1320px
    ),
    xxxl: (
        point: 1920px,
        container: 1320px
    )
);

@mixin container-padding {

    @each $name, $values in $breakpoints {
        $breakpoint: map-get($values, point);
        $container-width: map-get($values, container);
        
        @media (min-width: #{$breakpoint}) {

            @if $breakpoint == 1920px {
                padding-left: calc((1920px - #{$container-width}) / 2);
            } @else {
                padding-left: calc((100vw - #{$container-width}) / 2);
            }
        }
    }
}

@mixin media-breakpoint($breakpoint) {

    $size: map-get(map-get($breakpoints, $breakpoint), point);
    
    @media (min-width: #{$size}) {

        @content;
    }
}