/*
 ** General
*/

#full-width-page-wrapper {
    padding: 0;
}

a {
    opacity: 0.63;
    transition: all 0.3s ease-in;
    text-decoration: none;
    &:hover {
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
}

.blur {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

/*
 ** Viviendas
*/ 

#viviendas {
    background: $primary;
    h3 {
        font-size: 24px;
        font-weight: 400;
        color: $white;
    }
    h4 {
        font-size: 18px;
        font-weight: 300;
        color: $accent;
    }
    p {
        font-size: 14px;
        font-weight: 300;
        color: $white;
    }
    span {
        font-size: 48px;
        font-weight: 300;
        color: $accent;
    }
    .vivienda-card {
        a {
            opacity: 1;
            &:hover {
                opacity: 0.7;
            }
        }
        .img-container {
            position: relative;
            .location {
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 1;
                padding: 0px 15px;
                border: 1px solid $transparent-white;
                border-radius: 32px;
                i {
                    font-size: 16px;
                    color: $accent;
                    margin-right: 10px;
                }
                span {
                    font-size: 18px;
                    font-weight: 400;
                    color: $white;
                }
            }
            img {
                border-radius: 16px;
            }
            .price {
                position: absolute;
                bottom: -15px;
                left: 50%;
                transform: translateX(-50%); // Centra horizontal
                z-index: 1;
                padding: 0px 20px;
                border: 1px solid $transparent-white;
                border-radius: 32px;
                span {
                    font-size: 19px;
                    font-weight: bold;
                    color: $white;
                }
            }
        }
        .data {
            margin: -1.25rem 0.75rem 0 0.75rem;
            padding: 3rem 1rem 1.5rem 1rem;
            border: 1px solid $accent;
            border-top: 0px;
            border-radius: 16px;
            background: $grey;
            h4 {
                font-size: 24px;
                font-weight: 400;
                color: $white;
                text-align: center;
            }
            ul {
                display: grid;
                grid-auto-flow: column;
                grid-gap: 20px;
                align-items: start;
                justify-content: center;
                
                li {
                    display: grid;
                    grid-template-rows: auto auto; // Una fila para el icono, otra para el texto
                    justify-items: center;
                    gap: 8px;
                    
                    .img-wrapper {
                        padding: 2px 12px;
                        background: $grey;
                        border: 1px solid $transparent-white;
                        border-radius: 12px;
                        img {
                            width: 24px; // Asegura que todos los iconos tengan el mismo tamaño
                            height: 24px;
                            object-fit: contain;
                        }
                    }
                    
                    span {
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 300;
                        color: $white;
                    }
                }
            }
            .separator {
                border: 0;
                height: 2px;
                background: $accent;
                margin: 15px 0;
            }
            p {
                text-align: center;
                font-size: 14px;
                font-weight: 300;
                color: $transparent-white;
            }
        }
    }
}

/*
 ** Formulario de contacto
*/

#contact-form {
    background: $light;
    h3 {
        font-size: 28px;
        font-weight: 400;
        color: $primary;
    }
    h4 {
        font-size: 21px;
        font-weight: 400;
        color: $accent;
    }
    h5 {
        font-size: 14px;
        font-weight: bold;
    }

    .btn-form {
        padding: 10px 20px;
        margin-right: 10px;
        border: 1px solid $black;
        border-radius: 32px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 14px;
        
        &.active {
            background-color: $black;
            color: $white;
        }
        
        &:not(.active) {
            background-color: transparent;
            border: 1px solid $accent;
            color: $black;
            
            &:hover {
                background-color: rgba($accent, 0.1);
            }
        }
    }

    .form-section {
        display: none;
        
        &.active {
            display: block;
        }
    }

    #img-compra, #img-venta {
        transition: opacity 0.3s ease;
    }

    .wpcf7 {
        max-width: none !important;
        color: $accent;
        .wpcf7-list-item {
            margin: 0;
        }

        .wpcf7-form-control-wrap[data-name="your-features"],
        .wpcf7-form-control-wrap[data-name="your-status"] {
            .wpcf7-checkbox {
                font-size: 14px;
                font-weight: 300;
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 0.5rem;
            }
        }

        .wpcf7-submit {
            width: auto;
            padding: 10px 20px;
            background: $dark-gold;
            color: $white;
            border-radius: 32px;
            border-color: $dark-gold;
            transition: all 0.3s ease-in;
            &:hover {
                background: $light;
                color: $dark-gold;
                transition: all 0.3s ease-in-out;
            }
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
            appearance: none;
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid $dark-gold;
            color: $accent;
            padding: 8px 12px;
            width: 100%;
            font-size: 14px;
            transition: all 0.3s ease-in;
            
            &:focus {
                outline: none;
                border-color: $dark-gold;
                box-shadow: none;
                background: $accent;
                color: $primary;
                transition: all 0.3s ease-in-out;
            }
            
            &::placeholder {
                color: $dark-gold;
                opacity: 0.7;
            }
        }
    
        select {
            cursor: pointer;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23your-color-here' d='M6 8L2 4h8z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 12px center;
            padding-right: 30px;
        }
    
        textarea {
            min-height: 100px;
            resize: vertical;
        }

        input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid $dark-gold;
            width: 15px;
            height: 15px;
            cursor: pointer;
            
            &:checked {
                background-color: transparent;
                border-color: $dark-gold;
                position: relative;
                
                &:after {
                    content: '✓';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: $accent;
                }
            }
        }
    }
}

/*
 ** Footer
*/

#wrapper-footer {
    background: $black;
    padding-top: 5rem;
    padding-bottom: 0;
    footer {
        .row {
            a {
                font-size: 16px;
                font-weight: 400;
                color: $white;
            }
            h2 {
                font-size: 36px;
                font-weight: 500;
                color: $white;
            }
            h3 {
                font-size: 20px;
                font-weight: 600;
                color: $white;
            }
            h4 {
                font-size: 16px;
                font-weight: 300;
                color: $white;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                color: $text;
                a {
                    font-size: 13px;
                    font-weight: 300;
                    color: $white;
                }
            }
            &:first-child {
                border-bottom: 1px solid $white;
            }
            &#copyright {
                padding: 2rem 0 !important;
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: $text;
                    margin: 0;
                }
            }
        }
    }
}