/*
 ** Navbar
*/

#pre-header {
    background: $dark-gold;
    color: $white;
    padding: 5px 0;
    text-align: center;

    a {
        color: $white;
    }

    span {
        font-weight: bold;
        color: $white;
        margin: 0 20px;
    }

    p {
        margin: 0;
    }

    @media (max-width: 576px) {
        p {
            font-size: 9px;
        }
    }
}

#main-nav {
    background-color: $transparent !important;
    padding: 1rem 2rem;
    margin-top: 35px;

    .custom-logo-link {
        max-width: 120px;
    }

    #main-menu {
        li {
            margin: 0 1.25rem;

            a {
                padding: 0;
            }

            &.active {
                
                a {
                    border-bottom: 1px solid $accent;
                }
            }
        }
    }

    @media (max-width: 576px) {
        padding: 2rem 0;

        .custom-logo-link {
            max-width: 70px;
        }

        #navbarNavDropdown {
            margin-top: 1rem;
        }
    }
}