/*
 ** Sliders
*/ 

.n2-ss-layer {

    h1 {
        font-size: 64px;
        font-weight: 400;
        color: $white;
        line-height: 0.85;
        margin-bottom: 2rem;
    }

    p {
        max-width: 40%;
        font-size: 18px;
        font-weight: 400;
        color: $white;
        line-height: 1.25;
    }

    // Home

    .home-slider {

        h2 {
            font-size: 24px;
            font-weight: 400;
            color: $accent;
            line-height: 0.85;
        }

        p {
            color: $accent;
        }
    }
    
    .nums {
        font-family: "Barlow", sans-serif;

        span {
            font-size: 72px;
            font-weight: bold;
            color: $accent;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            color: $white;
            margin: 2rem 0;
        }

        a {
            font-size: 14px;
            font-weight: 300;
            color: $white;
            border: 1px solid $white;
            border-radius: 32px;
            padding: 10px 30px;
        }
    }

    @media (max-width: 576px) {

        .home-slider {
            margin-top: 5rem !important;

            h2 {
                font-size: 21px;
            }
    
            h1 {
                font-size: 42px;
                margin-bottom: 1rem;
            }
    
            p {
                max-width: none;
            }
        }

        .nums {

            span {
                font-size: 42px;
            }

            a {
                padding: 5px 15px;
                display: none;
            }

            p {
                max-width: none;
            }
        }
    }

    @media (max-width: 389px) {

        .n2-ss-layer {

            .home-slider {

                h1 {
                    font-size: 34px;
                }

                h2 {
                    font-size: 18px;
                }

                p {
                    font-size: 16px;
                }
            }
        }

        .nums {

            span {
                font-size: 34px;
            }

            p {
                font-size: 12px;
                margin: 1rem 0;
            }
        }
    }
}