/*
 ** Viviendas
*/ 

#archive-wrapper-viviendas {
    background: $primary;
}

#viviendas {
    background: $primary;
    padding: 3rem 0;

    h3 {
        font-size: 28px;
        font-weight: 400;
        color: $white;
    }

    h4 {
        font-size: 21px;
        font-weight: 300;
        color: $accent;
    }

    p {
        font-size: 14px;
        font-weight: 300;
        color: $white;
    }

    span {
        font-size: 48px;
        font-weight: 300;
        color: $accent;
    }

    .vivienda-card {
        
        .img-container {
            position: relative;

            .location {
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 1;
                padding: 0px 15px;
                border: 1px solid $transparent-white;
                border-radius: 32px;

                i {
                    font-size: 16px;
                    color: $accent;
                    margin-right: 10px;
                }

                span {
                    font-size: 18px;
                    font-weight: 400;
                    color: $white;
                }
            }

            img {
                display: block;
                height: 270px;
                width: 100%;
                object-fit: cover;
                border-radius: 16px;
            }

            .price {
                position: absolute;
                bottom: -15px;
                left: 50%;
                transform: translateX(-50%); // Centra horizontal
                z-index: 1;
                padding: 0px 20px;
                border: 1px solid $transparent-white;
                border-radius: 32px;

                span {
                    font-size: 19px;
                    font-weight: bold;
                    color: $white;
                }
            }
        }

        .data {
            margin: -1.25rem 0.75rem 0 0.75rem;
            padding: 3rem 1rem 1.5rem 1rem;
            border: 1px solid $accent;
            border-top: 0px;
            border-radius: 16px;
            background: $grey;

            h4 {
                font-size: 24px;
                font-weight: 400;
                color: $white;
                text-align: center;
            }

            ul {
                display: grid;
                grid-auto-flow: column;
                grid-gap: 20px;
                align-items: start;
                justify-content: center;
                
                li {
                    display: grid;
                    grid-template-rows: auto auto; // Una fila para el icono, otra para el texto
                    justify-items: center;
                    gap: 8px;
                    
                    .img-wrapper {
                        padding: 2px 12px;
                        background: $grey;
                        border: 1px solid $transparent-white;
                        border-radius: 12px;

                        img {
                            width: 24px; // Asegura que todos los iconos tengan el mismo tamaño
                            height: 24px;
                            object-fit: contain;
                        }
                    }
                    
                    span {
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 300;
                        color: $white;
                    }
                }
            }

            .separator {
                border: 0;
                height: 2px;
                background: $accent;
                margin: 15px 0;
            }

            p {
                text-align: center;
                font-size: 14px;
                font-weight: 300;
                color: $transparent-white;
            }
        }
    }

    .btn-dark {
        background: $grey;
        padding: 15px 30px;
        font-size: 14px;
        font-weight: bold;
        color: $white;
        border: 1px solid $accent;
        border-radius: 32px;
    }

    @media (max-width: 767px) {

        h3 {
            margin-top: 2rem;
        }

        .vivienda-card {
            margin-bottom: 2rem !important;
        }
    }
}

/*
 ** Vivienda Single
*/

#single-wrapper-vivienda {
    padding: 0;

    .vivienda-single {
        background: $primary;
        color: $white;
        overflow: hidden;
        margin-bottom: 0;
    
        .banner {
            height: 600px;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        ul {
            display: grid;
            grid-auto-flow: column;
            grid-gap: 20px;
            align-items: start;
            
            li {
                display: grid;
                grid-template-rows: auto auto; // Una fila para el icono, otra para el texto
                justify-items: center;
                gap: 8px;
                
                .img-wrapper {
                    padding: 2px 12px;
                    background: $grey;
                    border: 1px solid $transparent-white;
                    border-radius: 12px;

                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                    }
                }
                
                span {
                    display: block;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 300;
                    color: $white;
                }
            }
        }

        h1 {
            font-size: 32px;
            font-weight: 400;
        }

        h2 {
            font-size: 16px;
            font-weight: 300;
        }

        p {
            font-size: 14px;
            font-weight: 300;
            opacity: 0.83;
        }

        .data-container {
            position: relative;

            .location, 
            .price {
                padding: 0px 15px;
                border: 1px solid $transparent-white;
                border-radius: 32px;

                i {
                    font-size: 16px;
                    color: $accent;
                    margin-right: 10px;
                }

                span {
                    font-size: 18px;
                    font-weight: 400;
                    color: $white;
                }
            }

            .price {

                span {
                    font-weight: bold;
                }
            }

            img {
                border-radius: 16px;
            }
        }

        .img-wrapper {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .btn-dark {
            background: $grey;
            color: $white;
        }
    }
}
